body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #f7f7f7;
}

.container {
  display: block;
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88.1vw;
  background: #ffffff;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  padding: 10px 58px;
  z-index: 1000;
}

.morse, .code-words, .morse-heading {
  color: rgb(160, 25, 52);
}

.main-web-area {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 80px;
  font-size: 1.2rem;
  align-items: center;
}

.para {
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.morse-heading{
  font-size: 1.8rem;
}

.two-textareas {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}

.two-textareas p{
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.copy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.two-textareas textarea {
  resize: none;
  border: 2px solid #ccc;
  outline: none;
  padding: 15px;
  font-size: 1rem;
  width: 34vw;
  height: 300px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.two-textareas textarea:focus {
  border-color: rgb(160, 25, 52);
  box-shadow: 0 0 8px rgba(160, 25, 52, 0.3);
}

.morse-list-area {
  margin-top: 8em;
}

.unordered-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  margin-top: 50px;
}

li {
  list-style: none;
  font-size: 1.3rem;
  margin: 5px 0px;
  font-weight: 500;
}

/* code for copy to clipboard button  */
.copy-button {
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 0px 0px 20px;
}

.copy-button:hover {
  border: 2px solid black;
}

.copy-button i {
  font-size: 16px;
}

/* code for switch button  */
.switch-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  transition: background-color 0.3s ease;
}

.switch-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .two-textareas {
      gap: 1em;
  }

  .two-textareas textarea {
      height: 250px;
  }

  .copy-button {
      right: 5%;
      top: -40px;
  }

  .switch-button {
      margin: 0;
  }
}
/* Responsive CSS for small devices */
@media (max-width: 480px) {
 .right-header-heading{
  display: none;
 } 

 .header{
  justify-content: center;
 }

 .two-textareas{
  flex-direction: column;
 }
 
 .two-textareas textarea{
  width: 82vw;
 }
}
